<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
</head>
<body>
	<div class="container">
		<h1>{{ title }}</h1>
		<table class="table">
			<thead>
				{% for column in columns %}
					{% if column != "id_cidade" %}
					<th scope="col">{{ column }}</th>
					{% endif %}
				{% endfor %}
			</thead>
			<tbody>
				
				{% include 'components/item.html.twig' with {'itens': pessoas} %}
				
			</tbody>
		</table>	
	</div>
</body>
</html>